.sl-wrap {
  display: inline-block;
  min-width: 80px;
  position: relative;
  z-index: 1;
  user-select: none;
  line-height: 1.3; }
  .sl-wrap.sl-open .sl-popup {
    display: block; }
  .sl-wrap.sl-open .sl-button:after {
    border-top: none;
    border-bottom: 12px solid #777; }

.sl-button {
  display: block;
  padding: 0.25em 20px 0.25em 0.25em;
  position: relative;
  background-color: #fff; }
  .sl-button:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid #777;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: none;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%); }

.sl-button-text {
  display: block;
  height: 1.3em; }

.sl-popup {
  display: none;
  max-height: 100px;
  padding: 0.25em;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff; }

.sl-option {
  display: block;
  white-space: nowrap; }
  .sl-option:hover {
    background-color: #eee; }
